.text{
    display: block;
    width: 100%;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(135deg, var(--xl-color-primary-01) 30%, var(--xl-color-primary-02) 70%);
    background-clip: text;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    transition: --xl-color-primary-01 var(--el-transition-duration), --xl-color-primary-02 var(--el-transition-duration);
}