.button{
    transform-style: preserve-3d;
    border: none;
    transition: background-color var(--el-transition-duration), color var(--el-transition-duration);
}
.button:hover{
    transition: none;
}
%button{
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border-radius: var(--el-border-radius-base);
    background-image: linear-gradient(135deg, var(--xl-color-primary-01) 30%, var(--xl-color-primary-02) 70%);
    transform: translateZ(-1px);
    transition: filter var(--el-transition-duration), --xl-color-primary-01 var(--el-transition-duration), --xl-color-primary-02 var(--el-transition-duration);
}
.button::before{
    @extend %button;
    filter: blur(calc(2*var(--el-border-width)));
}
.button::after{
    @extend %button;
}
.button[class*=is-circle]::before,.button[class*=is-circle]::after{
    border-radius: 50%;
}
.button:hover::before{
    transition: none;
    filter: blur(calc(10*var(--el-border-width)));
}
.button i[class*=el-icon]{
    font-size: calc(2*var(--el-font-size-base));
}