.switch{
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 32px;
    line-height: 20px;
    position: relative;
    vertical-align: middle;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    transition: none;
}
.switch-core{
    align-items: center;
    background-color: var(--el-fill-color);
    border: 1px solid var(--el-border-color);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    height: 20px;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    outline: none;
    position: relative;
    left: 1px;
    transform-style: preserve-3d;
    transition: border-color var(--el-transition-duration), box-shadow var(--el-transition-duration), background-color var(--el-transition-duration);
}
%switch-core{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background-image: linear-gradient(135deg, var(--xl-color-primary-01) 30%, var(--xl-color-primary-02) 70%);
    transform: translateZ(-1px);
    transition: filter var(--el-transition-duration);
}
.switch-core::before{
    @extend %switch-core;
}
.switch:hover .switch-core{
    transition: background-color var(--el-transition-duration);
    border-color: var(--el-color-primary);
    box-shadow: 0 0 2px var(--el-color-primary);
}
.switch:hover .switch-core:before{
    transition: none;
    filter: blur(calc(10*var(--el-border-width)));
}
.switch-inner {
    align-items: center;
    display: flex;
    height: 16px;
    width: 46px;
    justify-content: center;
    overflow: hidden;
    transform: translateX(7px);
    transition: transform var(--el-transition-duration);
}
.switch-inner i[class*=el-icon] {
    color: var(--el-border-color);
    font-size: 12px;
    margin-right: 0;
    transition: color var(--el-transition-duration);
}
.switch-action {
    align-items: center;
    background-color: var(--el-bg-color);
    border-radius: var(--el-border-radius-circle);
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    position: absolute;
    transform: translateX(1px);
    transition: background-color var(--el-transition-duration), transform var(--el-transition-duration);
}
.switch-action i[class*=el-icon]{
    color: var(--el-color-info);
    margin-right: 0;
    transition: color var(--el-transition-duration);
}
.switch:hover .switch-action i[class*=el-icon]{
    transition: none;
    color: var(--el-color-primary);
}
.switch[checked=true] .switch-inner{
    transform: translateX(-7px);
}
.switch[checked=true] .switch-action{
    transform: translateX(29px);
}