%user-select{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header {
    //@extend %user-select;
    position: relative;
    width: 1000px;
    height: 100%;
}