.divider{
    display: flex;
}
%divider{
    margin: 24px 0;
    padding: 0;
    border-top: 1px var(--el-border-color) var(--el-border-style);
    transition: border-top var(--el-transition-duration);
    flex-grow: 1;
}
.divider-left{
    @extend %divider;
}
.divider-right{
    @extend %divider;
}
.divider-content{
    margin: auto 0;
    padding: 0 20px;
    color: var(--el-text-color-primary);
    font-size: 14px;
    font-weight: 500;
}
.divider-content>*{
    transition: color var(--el-transition-duration);
}
.divider[content-position*=left] .divider-left{
    flex-grow: 0;
    width: 20px;
}
.divider[content-position*=right] .divider-right{
    flex-grow: 0;
    width: 20px;
}